<footer class="footer">
  <!-- <div class="text">
    <h1>FOLLOW</h1>
  </div> -->
  <div class="social">
    <a href="https://www.facebook.com">
      <img src="../../../../../assets/facebook.png"
    /></a>

    <a href="https://www.instagram.com">
      <img src="../../../../../assets/instagram.png"
    /></a>

    <a href="https://www.twitter.com">
      <img src="../../../../../assets/twitter.png"
    /></a>
  </div>
  <div class="copy">© Todos los derechos e izquierdos bien puestos</div>
</footer>

<!-- <div>
  <a *ngFor="let socialNetwork of socialNetworks" [href]="socialNetwork.url">{{ socialNetwork.name }}</a>
</div> -->
